.version.index {
    color: #0000FA;
    background-color: #A1C847;
}



#page {
    z-index: 1;
    min-height: 1551px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-bottom: 8px;
    width: 100%;
    max-width: 1376px;
    margin-left: auto;
    margin-right: auto;
}

#u114 {
    z-index: 22;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    width: 99.86%;
}

#up {
    position: relative;
    width: 22px;
    margin-right: -10000px;
    margin-top: 2px;
    left: 20px;
}

#pu269 {
    z-index: 52;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 20px;
    width: 97.1%;
    margin-left: 1.46%;
}

#u269 {
    z-index: 52;
    background-color: transparent;
    position: relative;
    width: 12.28%;
    margin-left: 0.98%;
}

#u269_img {
    padding-right: 37px;
    width: 77.44%;
}

#u375 {
    z-index: 56;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-top: 354px;
    position: relative;
    width: 20.51%;
    margin-left: 15.42%;
}

#u375:hover {
    background-color: #EAEAEA;
    min-height: 0px;
    width: 20.51%;
    margin: 354px 0px 0px 15.419161676646706%;
}

#u384 {
    z-index: 59;
    background-color: transparent;
    position: relative;
    width: 16.79%;
    margin-left: 39.42%;
}

#u394-4 {
    z-index: 61;
    min-height: 21px;
    background-color: transparent;
    line-height: 20px;
    font-size: 17px;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    margin-top: 9px;
    position: relative;
    width: 69.35%;
    margin-left: 9.49%;
}

#u397-4 {
    z-index: 65;
    min-height: 36px;
    background-color: transparent;
    line-height: 16px;
    text-align: center;
    font-size: 13px;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    margin-top: 9px;
    position: relative;
    width: 76.65%;
    margin-left: 7.67%;
}

#u397-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 36px;
    width: 76.65%;
    margin: 9px 0px 0px 7.664233576642336%;
}

#u397-4:hover p {
    text-align: center;
}

#u522 {
    z-index: 140;
    background-color: transparent;
    margin-top: 165px;
    position: relative;
    width: 5.32%;
    margin-left: 12.06%;
}

#u532 {
    z-index: 142;
    background-color: transparent;
    margin-top: 372px;
    position: relative;
    width: 5.24%;
    margin-left: 11.91%;
}

#u481-10 {
    z-index: 130;
    min-height: 127px;
    background-color: transparent;
    margin-top: 11px;
    position: relative;
    width: 79.65%;
    margin-left: 11.91%;
}

#u481-3 {
    line-height: 0px;
}

#u481 {
    line-height: 17px;
}

#u768 {
    z-index: 148;
    height: 1px;
    background-color: #EAEAEA;
    margin-top: 11px;
    position: relative;
    width: 100%;
}

#pwrite {
    z-index: 144;
    width: 0.01px;
    margin-right: -10000px;
    margin-top: 799px;
    margin-left: 269px;
}

#write {
    position: relative;
}

#voise {
    margin-left: 5px;
    margin-top: 426px;
    position: relative;
}

#ppu361 {
    z-index: 0;
    margin-right: -10000px;
    margin-top: 20px;
    width: 75.15%;
    margin-left: 19.92%;
}

#pu361 {
    z-index: 54;
    width: 26.41%;
    margin-left: 71.57%;
}

#u361 {
    z-index: 54;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    width: 15.39%;
}

#u165-12 {
    z-index: 32;
    min-height: 80px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 2px;
    width: 82.06%;
    left: 17.95%;
}

#u165-2,
#u165-4 {
    font-size: 30px;
    line-height: 36px;
}

#u165-6,
#u165-9 {
    font-size: 26px;
    text-align: center;
    color: #FFFFFF;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    line-height: 0px;
}

#u165,
#u165-3,
#u165-5,
#u165-7 {
    line-height: 31px;
}

#u165-8 {
    font-size: 23px;
    line-height: 28px;
}

#u146-4 {
    z-index: 24;
    min-height: 63px;
    background-color: transparent;
    line-height: 54px;
    font-size: 45px;
    letter-spacing: 1px;
    color: #FFFFFF;
    font-family: ubuntu, sans-serif;
    font-weight: 500;
    margin-top: 5px;
    position: relative;
    width: 61.13%;
    margin-left: 38.88%;
}

#u990-4 {
    z-index: 152;
    min-height: 60px;
    background-color: transparent;
    line-height: 52px;
    font-size: 43px;
    color: #FFFFFF;
    font-family: abril-fatface, serif;
    font-weight: 400;
    position: relative;
    width: 28.83%;
    margin-left: 51.46%;
}

#u155-4 {
    z-index: 28;
    min-height: 41px;
    background-color: transparent;
    line-height: 29px;
    font-size: 24px;
    letter-spacing: 3px;
    color: #FFFFFF;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    margin-top: 37px;
    position: relative;
    width: 80.28%;
    margin-left: 17.22%;
}

#buttonu168 {
    z-index: 44;
    border-color: #787878;
    background-color: #4982AB;
    border-radius: 10px;
    padding-bottom: 4px;
    margin-top: 12px;
    position: relative;
    width: 33.08%;
    margin-left: 24.28%;
}

#buttonu168:hover {
    background-color: #545454;
    min-height: 0px;
    width: 33.08%;
    margin: 12px 0px 0px 24.274661508704064%;
}

#buttonu168.ButtonSelected {
    background-color: #4982AB;
    min-height: 0px;
    width: 33.08%;
    margin: 12px 0px 0px 24.274661508704064%;
}

#pu170 {
    z-index: 45;
    margin-right: -10000px;
    margin-top: 3px;
    width: 12.58%;
    margin-left: 11.41%;
}

#u170 {
    z-index: 45;
    height: 17px;
    border-color: #000000;
    background-color: #545454;
    border-radius: 100px;
    position: relative;
    margin-right: -10000px;
    margin-top: 14px;
    width: 41.87%;
    left: 30.24%;
}

#buttonu168:hover #u170 {
    background-color: #FFFFFF;
    height: 17px;
    min-height: 0px;
    width: 41.87%;
    margin: 14px -10000px 0px 0%;
}

#buttonu168.ButtonSelected #u170 {
    background-color: #545454;
    height: 17px;
    min-height: 0px;
    width: 41.87%;
    margin: 14px -10000px 0px 0%;
}

#u255 {
    z-index: 50;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    width: 100%;
}

#buttonu168:hover #u255 {
    min-height: 0px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#buttonu168.ButtonSelected #u255 {
    min-height: 0px;
    width: 100%;
    margin: 0px -10000px 0px 0%;
}

#u252-4 {
    z-index: 46;
    min-height: 17px;
    background-color: transparent;
    line-height: 19px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 15px;
    width: 35.68%;
    left: 29.83%;
}

#buttonu168:hover #u252-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 35.68%;
    margin: 15px -10000px 0px 0%;
}

#buttonu168.ButtonSelected #u252-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 17px;
    width: 35.68%;
    margin: 15px -10000px 0px 0%;
}

#pu751 {
    z-index: 147;
    margin-top: 42px;
    width: 61.9%;
    margin-left: 24.28%;
}

#u751 {
    z-index: 147;
    height: 172px;
    background-color: #EAEAEA;
    position: relative;
    margin-right: -10000px;
    margin-top: 9px;
    width: 0.16%;
}

#u378 {
    z-index: 57;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 25px;
    position: relative;
    margin-right: -10000px;
    width: 42.82%;
    left: 5.32%;
}

#u408 {
    z-index: 69;
    background-color: transparent;
    position: relative;
    width: 16.79%;
    margin-left: 42.71%;
}

#u443-4 {
    z-index: 75;
    min-height: 20px;
    background-color: transparent;
    line-height: 20px;
    font-size: 17px;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    margin-top: 10px;
    position: relative;
    width: 57.3%;
    margin-left: 21.54%;
}

#u421-6 {
    z-index: 79;
    min-height: 63px;
    background-color: transparent;
    line-height: 16px;
    text-align: center;
    font-size: 13px;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    margin-top: 10px;
    position: relative;
    width: 58.76%;
    margin-left: 21.54%;
}

#u736 {
    z-index: 146;
    height: 172px;
    background-color: #EAEAEA;
    position: relative;
    margin-right: -10000px;
    margin-top: 10px;
    width: 0.16%;
    left: 52.35%;
}

#u381 {
    z-index: 58;
    background-color: transparent;
    padding-top: 10px;
    position: relative;
    margin-right: -10000px;
    width: 42.82%;
    left: 57.19%;
}

#u378:hover,
#u381:hover {
    background-color: #EAEAEA;
    min-height: 0px;
    width: 42.82%;
    margin: 0px -10000px 0px 0%;
}

#u424 {
    z-index: 92;
    background-color: transparent;
    position: relative;
    width: 16.79%;
    margin-left: 41.61%;
}

#u418-4 {
    z-index: 71;
    min-height: 20px;
    background-color: transparent;
    line-height: 20px;
    font-size: 17px;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    margin-top: 9px;
    position: relative;
    width: 93.44%;
    margin-left: 1.46%;
}

#u446-7 {
    z-index: 85;
    min-height: 89px;
    background-color: transparent;
    line-height: 16px;
    text-align: center;
    font-size: 13px;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    margin-top: 10px;
    position: relative;
    width: 58.76%;
    margin-left: 18.62%;
}

#pu478-4 {
    z-index: 126;
    margin-top: 643px;
    width: 99.91%;
}

#u478-4 {
    z-index: 126;
    min-height: 32px;
    background-color: transparent;
    line-height: 24px;
    font-size: 20px;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    position: relative;
    margin-right: -10000px;
    width: 21.59%;
}

#u870 {
    z-index: 149;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 9px;
    width: 10.27%;
    left: 89.74%;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1563px);
}

#pu469-5 {
    z-index: 94;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: -816px;
    width: 92.74%;
    margin-left: 3.64%;
}

#u469-5 {
    z-index: 94;
    min-height: 62px;
    background-color: transparent;
    text-align: center;
    line-height: 17px;
    position: relative;
    width: 82.45%;
    margin-left: 10.11%;
}

#u469-2 {
    letter-spacing: 1px;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
}

#u472-4 {
    z-index: 99;
    min-height: 37px;
    background-color: transparent;
    line-height: 24px;
    font-size: 20px;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    margin-top: 107px;
    position: relative;
    width: 49.85%;
    margin-left: 17.17%;
}

#u475-23 {
    z-index: 103;
    min-height: 167px;
    background-color: transparent;
    margin-top: 21px;
    position: relative;
    width: 82.45%;
    margin-left: 10.11%;
}

#u475-2,
#u475-7,
#u475-9 {
    font-weight: 700;
}

#u475-12 {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -1px;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
}

#u481-2,
#u481-4,
#u481-6,
#u475-4,
#u475-5,
#u475-11,
#u475-14,
#u475-15,
#u475-17,
#u475-18,
#u475-20 {
    font-size: 15px;
    letter-spacing: 1px;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    line-height: 18px;
}

#pu546-4 {
    z-index: 5;
    margin-top: 291px;
    width: 100%;
}

#u546-4 {
    z-index: 5;
    min-height: 15px;
    position: relative;
    margin-right: -10000px;
    margin-top: 61px;
    width: 27.67%;
}

#pu550 {
    z-index: 9;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 16px;
    width: 28.06%;
    margin-left: 35.43%;
}

#u550 {
    z-index: 9;
    position: relative;
    width: 44.98%;
    margin-left: 27.66%;
}

#u635-5 {
    z-index: 17;
    min-height: 21px;
    margin-top: 7px;
    position: relative;
    width: 100%;
}

#u799 {
    z-index: 4;
    padding-bottom: 9px;
    position: relative;
    margin-right: -10000px;
    width: 7.76%;
    left: 72.97%;
}

#u576 {
    z-index: 11;
    position: relative;
    margin-right: -10000px;
    margin-top: 9px;
    width: 75.76%;
    left: 10.11%;
}

#u803 {
    z-index: 3;
    padding-bottom: 9px;
    position: relative;
    margin-right: -10000px;
    width: 7.76%;
    left: 82.61%;
}

#u581 {
    z-index: 13;
    position: relative;
    margin-right: -10000px;
    margin-top: 9px;
    width: 73.74%;
    left: 12.13%;
}

#u807 {
    z-index: 2;
    padding-bottom: 9px;
    position: relative;
    margin-right: -10000px;
    width: 7.76%;
    left: 92.25%;
}

#u799:hover,
#u803:hover,
#u807:hover {
    min-height: 0px;
    width: 7.76%;
    margin: 0px -10000px 0px 0%;
}

#u588 {
    z-index: 15;
    position: relative;
    margin-right: -10000px;
    margin-top: 9px;
    width: 75.76%;
    left: 12.13%;
}

#muse_css_mq,
.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 320px;
    padding-bottom: 22px;
}

.verticalspacer {
    min-height: 18px;
}

#u384_img,
#u522_img,
#u532_img,
#u361_img,
#u255_img,
#u408_img,
#u424_img,
#u870_img,
#u550_img,
#u576_img,
#u581_img,
#u588_img {
    width: 100%;
}
